/*
Author: André-Charles
Date: 2025/9/10
*/
body {
  background-color: #fffab0ff;
}
a {
  color: rgb(0, 0, 0);
}
h1 {
    color: rgb(0, 47, 255);
    font-size: 36px;
}
p {
    
    color: rgb(0, 132, 255);
}
