/*
Author: André-Charles
Date: 2025/9/24
*/

body {
    color: rgb(0, 0, 0);
}
img{
    width:50%;
    display: block;
    margin:auto;
}
h1,h2 {
    text-align: center;
}
h1 {
    font-size: 56px;

}
h2 {
    font-size: 20;
    
    color: rgb(97, 19, 0);
}
p{  
    margin: auto;
    display: inline-block;
    margin:auto;
}
.box {
    margin: auto;

    text-align: center;
    
}

.div2 {

    margin:  auto;
    text-align: center;
    
}
#special-message{
    display: inline-block;

    text-align: center;
    background-color: rgb(97, 19, 0);
    border-radius:15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    list-style-position: inside;
}
#Peruna, a {
    display: inline-block;

    text-align: center;
    background-color: rgb(97, 19, 0);
    border-radius:15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.highlight{
    margin: auto;
    text-align: center;
}
img[alt]{
    color:brown;
}
div ol>li{
    font-style: italic;
}
section ul li{
    color:chocolate;
}
a[target]{
    background-color: beige;
}